{% extends 'base.html.twig' %}

{% block title %}Liste des produits d'une catégorie{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="container">

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Editer</th>
            <th>Effacer</th>
        </tr>
        {% for product in listeProduct %}
        <tr>
            <td><a href="{{path('detailProduct',{'id':product.id})}}">{{product.name}}</a></td>
            <td>{{product.price}}€</td>
            <td><a href="{{path('editProduct',{'id':product.id})}}">Editer produit</a></td>
            <td><a href="{{path('removeProduct',{'id':product.id})}}">Supprimer produit</a></td>
        </tr>
        {% endfor  %}
    </table>

</div>
{% endblock %}